<script type="text/javascript" src="{{ STATIC_URL }}more.js" /></script>


<div class="col-md-12 column">
<div class="col-md-6 column">Displaying results for:</div>
<!--<div class="col-md-6 column" id="url-goes-here"></div>-->
<div class="col-md-12 column" id="result">lol gifs under 500 kb</div>
</div>
{% for gif in gif_data %}
<div class="col-md-6 column">
	<div class="theGif">
		<img src="{{gif.url}}" class="img-responsive">
		<a href="{{gif.giphyurl}}" class="view-on-giphy" target="_blank">View on Giphy</a>
		<div class="gif-size">{{gif.gif_size}} kb</div>
	</div>
</div>
{% endfor %}

<div class="col-md-12 column" style="margin-top: 50px;">
	<form method="get" action="#">
		<input type="hidden" name="more_query" id="more_query" value="{{query}}">
		<input type="hidden" name="more_offset" id="more_offset" value="{{offset}}">
		<input type="hidden" name="more_size" id="more_size" value="{{size}}">
		<input type="button" id="more" value="more" onclick="return false;" class="btn btn-primary ">
	</form>
</div>


