<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" /></script>

{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Read the documentation for more information #}


<style>
body{color: #333;
font-size: 40px;
background-color: white;}
.jumbotron{margin-bottom: 30px;
background-color: #00CCD6;
color: white;
width: 100%;}

#url-goes-here {background-color: #FFD900;
padding: 10px;
margin-top:0px;
color: white;
text-align: center;}
#url-goes-here:hover{background-color: #333;}
#url-goes-here a{font-size: 25px;color: white;}
#url-goes-here a:hover{color: white;
background-color: #333;}

a{color: #FFD900;}
a:hover{color: #333; text-decoration: none; background-color: #FFD900; color: white;}

#result{font-size: 40px;
background-color: #333;
color: white;
padding: 10px;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;}



.gif-size{font-size: 30px;}

#footer {
  position: relative;
  bottom: 0;
  font-size: 15px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  padding-top: 5px;
  color: #333;
  text-align: center;
}

#footer a{color: #333;}
.btn-primary{background-color: #333;
border: none;
border-radius: 0;}
.jumbotron .btn-primary{position: relative;
left: -15px}


.btn-primary:hover{background-color: #FFD900; color: white}






</style>




<script>
// $( document ).ready(function() {
//     console.log( "ready!" );
//     console.log(document.URL);
// });

$(function(){
		$("#submit_post").click(function(){
			var q=$("#query").val();
			var s=$("#size").val();
			if (s == "")
			{
				s=500
			}
			var o=0;
			$("html, body").animate({ scrollTop: 0 }, "slow");
			$('.theContent').fadeOut('slow',function(){
			$('.theContent').empty();
			var qdash=q.replace(/\s+/g, '-').toLowerCase();
			var url="query=" + qdash + "&size=" + s + "&offset=" + o;
			console.log(url)
			$.get("/",{query:qdash,size:s,offset:o,refresh:"no"},function(result){
				$('.theContent').append(result);			
				$('#result').empty();
				$('#result').append(q);
				$('#result').append(" gifs under ");
				$('#result').append(s);
				$('#result').append(" kb");
				$('#url-goes-here').empty();
				$('#url-goes-here').append('<a href="?' + url + '">' + url + '</a>');
				$('.theContent').fadeIn('slow');
			});
			console.log("SEARCH");

			})
		});
	})

</script>



<div class="row clearfix">
		<div class="jumbotron">
			<div class="container">
				<div class="col-md-7 column">
				<h1>Find some gifs.</h1>
				</div>
				<div class="col-md-5 column">
					<div class="container">
						<form class="form-horizontal">
						    <div class="form-group">
							    <input id="query" name="query" type="text" placeholder="search: harry potter, lol, robots" class="form-control">
						    </div>
						    <div class="form-group">
							    <input id="size" name="size" type="text" placeholder="size (in KB): 500" class="form-control">
						    </div>
							  <input type="submit" id="submit_post" class="btn btn-primary" value="search" onclick="return false;">
						</form>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row clearfix">
			<div class="col-md-12 column">
					<div class="theContent">
					{% include "thebigsmallgif/gif_entry.html" %}
					</div>
			</div>
	</div>
</div>

<div id="footer"><div class="container"><p class="muted credit">Made with <span class="glyphicon glyphicon-heart"></span> in California by <a href="http://twitter.com/karandeepsingh">@karandeepsingh</a>. Powered By <a href="http://giphy.com/">Giphy</a>.</a></p></div></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51347592-1', 'bluemix.net');
  ga('send', 'pageview');

</script>